doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block sidebar
      ul(class='sidebar-nav')
        li
          a(href='/') Home
        li
          a(href='/players') All players
        li
          a(href='/teams') All teams
        li
          a(href='/positions') All positions
        li
          a(href='/owners') All owners
        li
          hr
        li
          a(href='/players/create') Create new player
        li
          a(href='/teams/create') Create new team
        li
          a(href='/positions/create') Create new position
        li
          a(href='/owners/create') Create new owner
    div(class='content')
      block content
