extends layout

block content
    h1= title
    h3 Players: 
    ul
        each player in players 
            if player.position._id.toString() === position._id.toString()
                li
                    a(href=player.url) #{player.fullName}
                    |   (#{player.team.teamName})

    