extends layout

block content
  h1 #{title}

  form(method='POST' action='')
    div
      label(for='location') Location:
      input#location(type='text', name='location' value=(undefined===team ? '' : team.location))
      label(for='name') Name:
      input#name(type='text', name='name' value=(undefined===team ? '' : team.name))
      label(for='championships') Championships (enter years separated by a space):
      input#championships(type='text', name='championships' value=(undefined===team ? '' : team.championships.join(' ')))
    button(type='submit') Submit

  if errors
   ul
    for error in errors
     li!= error.msg
